.dashboard-child {
  position: absolute;
  top: 64px;
  left: 96px;
  background-color: transparent;
  width: 382px;
  height: 65px;
}
.vitalease-healthcare {
  position: absolute;
  top: 64px;
  left: 74px;
  font-size: var(--font-size-11xl);
}
.change-language,
.one-click-emergency {
  position: absolute;
  top: 129px;
  left: 732px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 320px;
  height: 35px;
}
.change-language {
  top: 131px;
  left: 1074px;
  width: 189px;
}
.welcome-user {
  position: absolute;
  top: 354px;
  left: 74px;
  font-size: var(--font-size-31xl);
  font-weight: 800;
}
.vitaleasehealthcaregmaicom {
  position: absolute;
  top: 65px;
  left: 1403px;
  font-size: var(--font-size-6xl);
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 397px;
  height: 35px;
}
.sort-icon {
  position: absolute;
  top: 49px;
  left: 1819px;
  width: 47px;
  height: 51px;
}
.vitalease-healthcare-empoweri {
  position: absolute;
  top: 130px;
  left: 74px;
  font-size: var(--font-size-21xl);
  font-weight: 900;
  display: inline-block;
  width: 550px;
  height: 170px;
}
.medication {
  margin: 0;
}
.medication-adherence {
  position: absolute;
  top: 878px;
  left: 143px;
  color: var(--color-black);
}
.component-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xl);
  background-color: var(--color-lightgreen);
}
.component-1,
.emergency-contact {
  position: absolute;
  top: 66.47%;
  left: 17.13%;
}
.component-1 {
  top: 431px;
  left: 980px;
  width: 397px;
  height: 516px;
  color: var(--color-black);
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chatbot,
.vector-parent {
  position: absolute;
  top: 80.43%;
  left: 27.2%;
}
.vector-parent {
  top: 431px;
  left: 1433px;
  width: 397px;
  height: 516px;
  color: var(--color-black);
}
.instance-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xl);
  background-color: var(--color-mediumaquamarine);
}
.medication-adherence1 {
  position: absolute;
  top: 68.6%;
  left: 17.38%;
}
.rectangle-parent {
  position: absolute;
  top: 431px;
  left: 74px;
  width: 397px;
  height: 516px;
  color: var(--color-black);
}
.instance-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xl);
  background-color: var(--color-forestgreen-100);
}
.daily-tasks,
.rectangle-group {
  position: absolute;
  top: 73.64%;
  left: 18.39%;
}
.rectangle-group {
  top: 431px;
  left: 527px;
  width: 397px;
  height: 516px;
  color: var(--color-gray-300);
}
.medicines-for-today,
.tasks-for-today {
  position: absolute;
  top: 16px;
  left: 0;
  font-weight: 900;
  display: inline-block;
  width: 307px;
  height: 47px;
}
.tasks-for-today {
  top: 95px;
  left: 67px;
  width: 313px;
}
.message-fill-icon,
.message-fill-icon1 {
  position: absolute;
  top: 0;
  left: 304px;
  width: 76px;
  height: 79px;
}
.message-fill-icon1 {
  top: 79px;
}
.manage-monitoring-access,
.medicines-for-today-parent {
  position: absolute;
  top: 182px;
  left: 1449px;
  width: 380px;
  height: 158px;
  font-size: var(--font-size-11xl);
}
.manage-monitoring-access {
  top: 366px;
  left: 1341px;
  font-weight: 900;
  display: inline-block;
  width: 418px;
  height: 47px;
}
.arhive-load-fill-icon {
  position: absolute;
  top: 357px;
  left: 1762px;
  width: 55px;
  height: 57px;
}
.dashboard-inner,
.dashboard-item {
  position: absolute;
  top: 37px;
  left: 847px;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen-200);
  width: 88px;
  height: 81px;
}
.dashboard-inner {
  left: 1117px;
}
.book-fill-icon {
  position: absolute;
  top: 51px;
  left: 1134px;
  width: 54px;
  height: 54px;
}
.download-circle-fill-icon {
  position: absolute;
  top: 51px;
  left: 864px;
  width: 55px;
  height: 53px;
}
.dashboard {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--paragraph-p3-regular);
}
.manage-access-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xl);
  background-color: var(--color-palegoldenrod);
}
.close-round-icon {
  position: absolute;
  height: 7.17%;
  width: 3.54%;
  top: 2.87%;
  right: 1.5%;
  bottom: 89.96%;
  left: 94.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.account-accessed-by,
.manage-access1 {
  position: absolute;
  height: 9.48%;
  width: 39.22%;
  top: 4.63%;
  left: 2.85%;
  font-weight: 500;
  display: inline-block;
}
.account-accessed-by {
  height: 5.63%;
  width: 23.82%;
  top: 33.52%;
  font-size: var(--font-size-23xl);
}
.actions1 {
  position: absolute;
  top: 20px;
  left: 59px;
  font-weight: 300;
}
.action-icon {
  position: absolute;
  top: 101px;
  left: 40px;
  width: 202px;
  height: 65px;
}
.action-icon1,
.action-icon2,
.action-icon3 {
  position: absolute;
  top: 185px;
  left: 38px;
  width: 202px;
  height: 65px;
}
.action-icon2,
.action-icon3 {
  top: 264px;
}
.action-icon3 {
  top: 343px;
}
.actions,
.phone-number1 {
  position: absolute;
  font-size: var(--font-size-23xl);
  font-family: var(--paragraph-p3-regular);
  color: var(--color-white);
}
.actions {
  height: 99.58%;
  width: 15.33%;
  top: 9.36%;
  right: 0;
  bottom: -8.94%;
  left: 84.67%;
  overflow: hidden;
}
.phone-number1 {
  top: 15px;
  left: 77px;
  font-weight: 300;
}
.xxxxx-xxxxx1 {
  margin: 0;
  padding-left: var(--padding-37xl);
  font-size: 40px;
}
.xxxxx-xxxxx {
  position: absolute;
  top: 102px;
  left: 23px;
  font-weight: 300;
}
.phone-number {
  position: absolute;
  height: 99.58%;
  width: 25.98%;
  top: 9.36%;
  right: 15.33%;
  bottom: -8.94%;
  left: 58.68%;
  border-right: 9px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
}
.family-doctor,
.son,
.wife {
  position: absolute;
  top: 184px;
  left: 23px;
  font-weight: 300;
}
.family-doctor,
.wife {
  top: 266px;
}
.family-doctor {
  top: 348px;
}
.role1 {
  top: 15px;
  left: 163px;
  font-size: var(--font-size-23xl);
  font-weight: 300;
  font-family: var(--paragraph-p3-regular);
  color: var(--color-white);
}
.name1,
.role,
.role1 {
  position: absolute;
}
.role {
  height: 99.58%;
  width: 24.71%;
  top: 9.36%;
  right: 41.32%;
  bottom: -8.94%;
  left: 33.97%;
  border-right: 9px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
}
.name1 {
  top: 15px;
  left: 225px;
  font-size: var(--font-size-23xl);
  font-weight: 300;
  font-family: var(--paragraph-p3-regular);
  color: var(--color-white);
}
.name,
.table-users {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.name {
  height: 100%;
  width: 33.97%;
  top: 9.15%;
  right: 66.03%;
  bottom: -9.15%;
  border-right: 9px solid var(--color-black);
  box-sizing: border-box;
}
.table-users {
  height: 59.09%;
  width: 100%;
  top: 40.91%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  font-size: var(--font-inherit);
  color: var(--color-palegoldenrod);
  font-family: var(--font-inherit);
}
.add-access {
  position: absolute;
  top: 38px;
  left: 53px;
  font-weight: 300;
}
.add-access-parent,
.frame-icon {
  position: absolute;
  top: 19px;
  left: 280px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.add-access-parent {
  height: 12.35%;
  width: 20.39%;
  top: 17.64%;
  right: 77.51%;
  bottom: 70.01%;
  left: 2.1%;
  border-radius: 78px;
  background-color: #61a93f;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
}
.manage-access {
  position: relative;
  width: 1905px;
  height: 958px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: 71px;
  color: var(--color-black);
  font-family: var(--paragraph-p3-regular);
}
