.group-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen-100);
}
.get-into-contact,
.visit-our-docs {
  position: absolute;
  top: 48px;
  left: 50px;
  text-decoration: underline;
  display: inline-block;
  width: 281px;
  height: 26px;
}
.get-into-contact {
  top: 443px;
  left: 42px;
  font-size: var(--font-size-11xl);
  width: 394px;
  height: 42px;
}
.rectangle-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.our-documentation-for {
  margin: 0;
}
.our-documentation-for-container {
  position: absolute;
  width: 77.38%;
  top: 22.33%;
  left: 8.08%;
  font-size: var(--font-size-6xl);
  letter-spacing: -0.02em;
  line-height: 30px;
  display: inline-block;
}
.docs-1 {
  position: relative;
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 619px;
  height: 533px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--paragraph-p3-regular);
}
