.medication-scheduling-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xl);
  background-color: var(--color-mediumseagreen-200);
}
.close-round-icon2 {
  position: absolute;
  top: 37px;
  left: 775px;
  width: 77.8px;
  height: 77.8px;
}
.medication2 {
  margin: 0;
}
.medication-adherence2 {
  position: absolute;
  height: 17%;
  width: 33.83%;
  top: 6.57%;
  left: 6.49%;
  font-size: var(--font-size-26xl);
  display: inline-block;
}
.medication-scheduling-item {
  position: absolute;
  height: 27.57%;
  width: 34.33%;
  top: 27.72%;
  right: 59.17%;
  bottom: 44.71%;
  left: 6.49%;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumseagreen-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.medicine-name-1,
.schedule-11 {
  position: absolute;
  height: 13.38%;
  display: inline-block;
}
.schedule-11 {
  width: 69.58%;
  top: 0;
  left: 1.29%;
  font-size: var(--font-size-6xl);
}
.medicine-name-1 {
  width: 83.03%;
  top: 27.48%;
  left: 10.88%;
}
.div5,
.div6,
.medicine-name-2,
.symptomsdisease1,
.symptomsdisease2 {
  position: absolute;
  height: 13.38%;
  width: 89.12%;
  top: 47.17%;
  left: 10.88%;
  display: inline-block;
}
.div5,
.div6,
.medicine-name-2,
.symptomsdisease2 {
  top: 86.62%;
}
.div5,
.div6,
.medicine-name-2 {
  width: 83.03%;
  top: 66.92%;
}
.div5,
.div6 {
  height: 17.63%;
  width: 9.13%;
  top: 27.48%;
  left: 0;
}
.div6 {
  top: 66.92%;
}
.schedule-1-group {
  position: absolute;
  height: 20.29%;
  width: 28.71%;
  top: 30.43%;
  right: 62.3%;
  bottom: 49.28%;
  left: 8.99%;
}
.medication-scheduling-inner {
  position: absolute;
  height: 35%;
  width: 34.33%;
  top: 27.72%;
  right: 18.6%;
  bottom: 37.28%;
  left: 47.07%;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumseagreen-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.medicine-name-11,
.schedule-21 {
  position: absolute;
  height: 2.72%;
  display: inline-block;
}
.schedule-21 {
  width: 19.98%;
  top: 30.43%;
  left: 49.93%;
  font-size: var(--font-size-6xl);
}
.medicine-name-11 {
  width: 23.84%;
  top: 36.01%;
  left: 52.69%;
}
.symptomsdisease3,
.symptomsdisease4 {
  height: 2.72%;
  width: 25.59%;
  left: 52.69%;
}
.symptomsdisease3 {
  position: absolute;
  top: 40%;
  display: inline-block;
}
.symptomsdisease4 {
  top: 48%;
}
.div7,
.div8,
.medicine-name-21,
.symptomsdisease4 {
  position: absolute;
  display: inline-block;
}
.medicine-name-21 {
  height: 2.72%;
  width: 23.84%;
  top: 43.99%;
  left: 52.69%;
  font-size: var(--font-size-xl);
}
.div7,
.div8 {
  height: 3.58%;
  width: 2.62%;
  top: 36.03%;
  left: 49.94%;
}
.div8 {
  top: 44.03%;
}
.div9,
.medicine-name-3,
.symptomsdisease5 {
  position: absolute;
  height: 2.72%;
  width: 25.59%;
  top: 56.01%;
  left: 52.69%;
  display: inline-block;
}
.div9,
.medicine-name-3 {
  width: 23.84%;
  top: 52%;
}
.div9 {
  height: 3.58%;
  width: 2.62%;
  top: 52.04%;
  left: 49.94%;
}
.medication-scheduling {
  position: relative;
  width: 100%;
  height: 766px;
  text-align: left;
  font-size: var(--paragraph-p2-bold-size);
  color: var(--color-black);
  font-family: var(--paragraph-p3-regular);
}
.group-child17,
.group-child18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-seagreen-100);
}
.group-child18 {
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
}
.symptomsdisease {
  position: absolute;
  height: 39.22%;
  width: 51.48%;
  top: 31.37%;
  left: 8.85%;
  display: inline-block;
}
.rectangle-parent11,
.rectangle-wrapper4,
.rectangle-wrapper5 {
  position: absolute;
  height: 11.59%;
  width: 68.69%;
  top: 44.32%;
  right: 21.85%;
  bottom: 44.09%;
  left: 9.46%;
}
.rectangle-wrapper4,
.rectangle-wrapper5 {
  width: 29.95%;
  top: 61.59%;
  right: 60.59%;
  bottom: 26.82%;
}
.rectangle-wrapper5 {
  top: 78.86%;
  bottom: 9.55%;
}
.name-of-medicine {
  position: absolute;
  height: 39.22%;
  width: 44.92%;
  top: 31.37%;
  left: 8.85%;
  display: inline-block;
}
.group-parent4 {
  position: absolute;
  height: 11.59%;
  width: 68.69%;
  top: 27.05%;
  right: 21.85%;
  bottom: 61.36%;
  left: 9.46%;
}
.name-your-schedule1 {
  position: absolute;
  height: 39.22%;
  width: 53.77%;
  top: 31.37%;
  left: 8.85%;
  display: inline-block;
}
.group-parent5 {
  position: absolute;
  height: 11.59%;
  width: 68.69%;
  top: 9.55%;
  right: 21.85%;
  bottom: 78.86%;
  left: 9.46%;
}
.how-many-times1 {
  margin: 0;
}
.how-many-times-container1,
.per-day-week1 {
  position: absolute;
  top: 284px;
  left: 199px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-white);
  width: 184px;
  height: 26px;
}
.per-day-week1 {
  top: 348px;
}
.rectangle-parent10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.send-hor-fill-icon2,
.send-hor-fill-icon3 {
  position: absolute;
  top: 350px;
  left: 141px;
  width: 24.2px;
  height: 30.6px;
}
.send-hor-fill-icon3 {
  top: 273px;
}
.check-fill-icon1 {
  position: absolute;
  top: 35px;
  left: 383px;
  width: 48px;
  height: 45px;
}
.add-schedule {
  position: relative;
  width: 444px;
  height: 440px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
  font-family: var(--paragraph-p3-regular);
}
